# Forbes Richest Athletes (1990 - 2020)

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

Matplotlib is building the font cache; this may take a moment.

In [14]:
df = pd.read_csv('data.csv', index_col='S.NO')

In [16]:
df.head()

,Name,Nationality,Current Rank,Previous Year Rank,Sport,Year,earnings ($ million)
S.NO,,,,,,,
1,Mike Tyson,USA,1,NaN,boxing,1990,28.6
2,Buster Douglas,USA,2,NaN,boxing,1990,26.0
3,Sugar Ray Leonard,USA,3,NaN,boxing,1990,13.0
4,Ayrton Senna,Brazil,4,NaN,auto racing,1990,10.0
5,Alain Prost,France,5,NaN,auto racing,1990,9.0

In [5]:
df.Year.unique()

array([1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000,
       2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012,
       2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020])

In [11]:
df.Sport.unique()

array(['boxing', 'auto racing', 'golf', 'basketball', 'Basketball',
       'Boxing', 'Auto Racing', 'Golf', 'Tennis', 'NFL', 'Auto racing',
       'NBA', 'Baseball', 'Ice Hockey', 'American Football / Baseball',
       'tennis', 'ice hockey', 'F1 Motorsports', 'NASCAR', 'Hockey',
       'Auto Racing (Nascar)', 'F1 racing', 'American Football', 'soccer',
       'baseball', 'cycling', 'motorcycle gp', 'Soccer', 'MMA'],
      dtype=object)

In [13]:
df.isna().sum(axis=0)

S.NO                     0
Name                     0
Nationality              0
Current Rank             0
Previous Year Rank      24
Sport                    0
Year                     0
earnings ($ million)     0
dtype: int64

### What is the total number of unique athletes featured from 1990 - 2020

In [8]:
df.Name.nunique()

82

### Which sport featured the most from 1990 - 2020?

In [9]:
df.Sport.value_counts()

Sport
Basketball                      54
Boxing                          29
basketball                      27
Golf                            24
Soccer                          22
golf                            20
Tennis                          18
American Football               17
boxing                          17
soccer                          11
Auto Racing                     10
F1 racing                        8
auto racing                      7
tennis                           5
F1 Motorsports                   5
motorcycle gp                    4
NFL                              3
baseball                         3
NASCAR                           3
Baseball                         3
Ice Hockey                       2
Auto Racing (Nascar)             2
Auto racing                      1
NBA                              1
American Football / Baseball     1
Hockey                           1
ice hockey                       1
cycling                          1
MMA                              1
Name: count, dtype: int64

In [10]:
df.loc[df.Sport == 'soccer']

,S.NO,Name,Nationality,Current Rank,Previous Year Rank,Sport,Year,earnings ($ million)
138,139,David Beckham,UK,8,>10,soccer,2004,28.0
147,148,David Beckham,UK,7,8,soccer,2005,32.5
166,167,David Beckham,UK,6,>10,soccer,2007,33.0
169,170,Ronaldinho,Brazil,9,>10,soccer,2007,31.0
172,173,David Beckham,UK,2,6,soccer,2008,50.0
178,179,Ronaldinho,Brazil,8,9,soccer,2008,37.0
185,186,David Beckham,UK,5,2,soccer,2009,42.0
195,196,David Beckham,UK,5,5,soccer,2010,43.7
206,207,David Beckham,UK,6,5,soccer,2011,40.0
207,208,Cristiano Ronaldo,Portugal,7,13,soccer,2011,38.0
210,211,Lionel Messi,Argentina,10,>20,soccer,2011,32.3